.banner {
  background-image: url(/assets/images/Background-banner.PNG);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-areas: Banner texto;
}

.banner-info-box {
  grid-area: texto;
  color: black;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 400px;
}

.banner .banner-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 500px;
 height: 250px; */
}

.info-title {
  font-weight: bolder;
  padding-top: 50px;
  font-size: 60px;
  text-shadow: 10px 30px 10px rgba(0, 0, 0, 0.256);
}

.subscribe {
  grid-area: texto;
  background-color: #7045cd;
  height: 70px;
  width: 250px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  text-transform: uppercase;
  color: white;
  box-shadow: 2px 5px 2px black;

  transition: 0.3s;
}

.info-link {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
}

.info-link:hover {
  color: #aab0ae;
}

.subscribe:hover {
  cursor: pointer;
  color: white;
  background-color: #1c0c42;

  width: 260px;
  height: 75px;

  box-shadow: 2px 5px 3px black;
}

.logoImgAnimation img {
  height: 300px;
  margin-top: -500px;
  margin-right: -650px;

  animation: rotationImg 4s infinite;
  transition: 0.5s;
}

.patrocinio {
  background-color: #310c7e;
  padding-top: 10px;
  padding-bottom: 10px;
  /* height: 120px;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.patrocinio-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sony {
  width: 270px;
  height: 57px;
  padding-right: 70px;
}

.nintendo {
  width: 270px;
  height: 57px;
  padding-right: 70px;
}

.playstation {
  width: 270px;
  height: 57px;
  padding-right: 70px;
}

.xbox {
  width: 220px;
  height: 100px;
  padding-right: 70px;
}

.products-Bg {
  background-image: linear-gradient(to bottom, black, #310c7e);
  padding: 30px 0;
}

.card {
  margin: 35px 10px 0 0;
  border-radius: 30px;
  height: 184px;
  overflow: hidden;
}

.card-img {
  border-radius: 30px;
}

.card-title {
  font-size: 1.9rem;
  margin-top: 2rem;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.619);
}

.btn-price {
  background-color: #310c7e;
  border-radius: 40px;
  font-weight: bold;
  border: none;

  width: 80%;
  height: 20%;

  margin-top: 3.8rem;
  margin-left: 8%;
  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 0.2rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.466);
}

.btn-price:hover {
  background-color: #6b35df;
}

@keyframes rotationImg {
  0% {
    transform: rotateY(0deg);
    filter: opacity(100%);
    margin-top: -750px;
    height: 100px;
    filter: blur(7px);
  }

  25% {
    filter: opacity(80%);
    margin-top: -500px;
    height: 200px;
    filter: blur(4px);
  }

  50% {
    filter: opacity(50%);
    margin-top: -200px;
    filter: blur(1px);
  }

  100% {
    transform: rotateY(360deg);
    filter: opacity(100%);
    margin-top: -550px;
  }
}

/* Breackpoints */

@media all and (max-width: 1920px) {
  .info-title {
    margin-top: -40px;
  }

  .card-title {
    font-size: 1.3rem;
    margin-top: 2rem;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.619);
  }

  .btn-price {
    margin-top: 2.4rem;
    margin-left: 9%;
  }
}

@media all and (max-width: 991px) {
  .patrocinio {
    display: none;
  }

  .logoImgAnimation {
    display: none;
  }
}

/* SMARTPHONES celulares 0 - 767px */
@media all and (max-width: 767px) {
  .banner {
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to bottom, #8052e2, #310C7E); */
    background-image: url(/assets/images/Soldado.png);
    background-color: #170837;
    background-position-x: 50%;
    background-position-y: 40px;
  }

  .logoImgAnimation {
    display: none;
  }

  .banner-info-box {
    margin-right: 400px;
  }

  .info-title {
    font-size: 52px;
    margin-bottom: 100px;
    margin-top: -50px;
  }

  .banner-info {
    margin-left: 200px;
    margin-top: -100px;
    color: aliceblue;
  }

  .card-title {
    font-size: 1.4rem;
    margin-top: 2rem;
  }

  .btn-price {
    margin-top: 43px;
    margin-left: 9%;
    letter-spacing: 0.1rem;
  }
}
