<main>
  <div class="banner">
    <div class="container-grid banner-info-box">
      <article class="banner-info">
        <h2 class="info-title">
          Sua loja <br />de<br />Games<br />
          mais perto <br />de você!!
        </h2>

        <div class="subscribe">
          <a routerLink="/signup" class="info-link">Cadastre-se</a>
        </div>
      </article>
    </div>
  </div>

  <!-- Patrocinios -->

  <section class="patrocinio">
    <div class="container-grid patrocinio-flex">
      <a href="https://www.sony.com/en/" target="_blank">
        <img
          src="./assets/images/Patrocinio/sony.png"
          alt="Sony"
          class="sony"
        />
      </a>

      <a href="https://www.nintendo.com/" target="_blank">
        <img
          src="./assets/images/Patrocinio/nintendo.png"
          alt="Nintendo"
          class="nintendo"
        />
      </a>

      <a
        href="https://www.playstation.com/pt-br/?emcid=pa-ha-430499&gclid=CjwKCAjwtIaVBhBkEiwAsr7-cz58t3buyAJvFIgqERcZXVYTqDsYmNkn7I-Ri6VXXVYEfWgCZjZWPRoCG8oQAvD_BwE"
        target="_blank"
      >
        <img
          src="./assets/images/Patrocinio/playstation-.svg"
          alt="Playstation"
          class="playstation"
        />
      </a>

      <a href="https://www.xbox.com/pt-BR" target="_blank">
        <img
          src="./assets/images/Patrocinio/Xbox.svg"
          alt="Xbox"
          class="xbox"
        />
      </a>
    </div>
  </section>

  <!-- produtos -->

  <section class="products-Bg">
    <div class="container products">
      <div class="row">
        <div
          class="col-12 col-md-6 col-lg-3 d-flex justify-content-center all-card"
        >
          <div class="card text-white">
            <img
              src="./assets/images/dualshock-bg.PNG"
              class="card-img"
              alt="Dualshock"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">
                Dualshock <br />
                Playstation
              </h5>

              <a href="#" class="btn btn-primary btn-price">R$250,00</a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-md-6 col-lg-3 d-flex justify-content-center all-card"
        >
          <div class="card text-white">
            <img
              src="./assets/images/BG-Fifa.PNG"
              class="card-img"
              alt="Dualshock"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">
                FIFA 21 <br />
                PS4
              </h5>

              <a href="#" class="btn btn-primary btn-price">R$350,00</a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-md-6 col-lg-3 d-flex justify-content-center all-card"
        >
          <div class="card text-white">
            <img
              src="./assets/images/BG-Xbox.PNG"
              class="card-img"
              alt="Dualshock"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">
                Xbox Series <br />
                1 Tb 4k
              </h5>

              <a href="#" class="btn btn-primary btn-price">R$3.250,00</a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-md-6 col-lg-3 d-flex justify-content-center all-card"
        >
          <div class="card text-white">
            <img
              src="./assets/images/dualshock-bg.PNG"
              class="card-img"
              alt="Dualshock"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">
                Dualshock <br />
                Playstation
              </h5>

              <a href="#" class="btn btn-primary btn-price">R$250,00</a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-md-6 col-lg-3 d-flex justify-content-center all-card"
        >
          <div class="card text-white">
            <img
              src="./assets/images/BG-Fifa.PNG"
              class="card-img"
              alt="Dualshock"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">
                FIFA 21 <br />
                PS4
              </h5>

              <a href="#" class="btn btn-primary btn-price">R$350,00</a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-md-6 col-lg-3 d-flex justify-content-center all-card"
        >
          <div class="card text-white">
            <img
              src="./assets/images/BG-Xbox.PNG"
              class="card-img"
              alt="Dualshock"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">
                Xbox Series <br />
                1 Tb 4k
              </h5>

              <a href="#" class="btn btn-primary btn-price">R$3.250,00</a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-md-6 col-lg-3 d-flex justify-content-center all-card"
        >
          <div class="card text-white">
            <img
              src="./assets/images/dualshock-bg.PNG"
              class="card-img"
              alt="Dualshock"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">
                Dualshock <br />
                Playstation
              </h5>

              <a href="#" class="btn btn-primary btn-price">R$250,00</a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-md-6 col-lg-3 d-flex justify-content-center all-card"
        >
          <div class="card text-white">
            <img
              src="./assets/images/BG-Fifa.PNG"
              class="card-img"
              alt="Dualshock"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">
                FIFA 21 <br />
                PS4
              </h5>

              <a href="#" class="btn btn-primary btn-price">R$350,00</a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-md-6 col-lg-3 d-flex justify-content-center all-card"
        >
          <div class="card text-white">
            <img
              src="./assets/images/dualshock-bg.PNG"
              class="card-img"
              alt="Dualshock"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">
                Dualshock <br />
                Playstation
              </h5>

              <a href="#" class="btn btn-primary btn-price">R$250,00</a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-md-6 col-lg-3 d-flex justify-content-center all-card"
        >
          <div class="card text-white">
            <img
              src="./assets/images/BG-Fifa.PNG"
              class="card-img"
              alt="Dualshock"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">
                FIFA 21 <br />
                PS4
              </h5>

              <a href="#" class="btn btn-primary btn-price">R$350,00</a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-md-6 col-lg-3 d-flex justify-content-center all-card"
        >
          <div class="card text-white">
            <img
              src="./assets/images/BG-Xbox.PNG"
              class="card-img"
              alt="Dualshock"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">
                Xbox Series <br />
                1 Tb 4k
              </h5>

              <a href="#" class="btn btn-primary btn-price">R$3.250,00</a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-md-6 col-lg-3 d-flex justify-content-center all-card"
        >
          <div class="card text-white">
            <img
              src="./assets/images/dualshock-bg.PNG"
              class="card-img"
              alt="Dualshock"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">
                Dualshock <br />
                Playstation
              </h5>

              <a href="#" class="btn btn-primary btn-price">R$250,00</a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-md-6 col-lg-3 d-flex justify-content-center all-card"
        >
          <div class="card text-white">
            <img
              src="./assets/images/BG-Fifa.PNG"
              class="card-img"
              alt="Dualshock"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">
                FIFA 21 <br />
                PS4
              </h5>

              <a href="#" class="btn btn-primary btn-price">R$350,00</a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-md-6 col-lg-3 d-flex justify-content-center all-card"
        >
          <div class="card text-white">
            <img
              src="./assets/images/BG-Xbox.PNG"
              class="card-img"
              alt="Dualshock"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">
                Xbox Series <br />
                1 Tb 4k
              </h5>

              <a href="#" class="btn btn-primary btn-price">R$3.250,00</a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-md-6 col-lg-3 d-flex justify-content-center all-card"
        >
          <div class="card text-white">
            <img
              src="./assets/images/dualshock-bg.PNG"
              class="card-img"
              alt="Dualshock"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">
                Dualshock <br />
                Playstation
              </h5>

              <a href="#" class="btn btn-primary btn-price">R$250,00</a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-md-6 col-lg-3 d-flex justify-content-center all-card"
        >
          <div class="card text-white">
            <img
              src="./assets/images/BG-Fifa.PNG"
              class="card-img"
              alt="Dualshock"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">
                FIFA 21 <br />
                PS4
              </h5>

              <a href="#" class="btn btn-primary btn-price">R$350,00</a>
            </div>
          </div>
        </div>
      </div>
      <!--row end -->
    </div>
  </section>
</main>
