<header class="headerHome">
  <div class="container-grid header-flex">
    <div class="logo">
      <img
        src="./assets/images/logo.png"
        title="Logo Game Mania"
        alt="Logo Game Mania"
        class="logoImg"
      />

      <h1 class="logotype">Game <br />Mania</h1>
    </div>

    <nav class="menu">
      <a routerLink="/login" class="menu-text">Login</a>
      <a routerLink="#" class="menu-text">Carrinho</a>
      <a routerLink="" class="menu-text">Inicio</a>
      <a routerLink="#" class="menu-text">Pedidos</a>
    </nav>

    <img class="menu-bars" src="./assets/images/bars.PNG" alt="" />
  </div>
</header>
