.headerHome {
  background-color: black;
}

.header-flex {
  /* flex conteiner */
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  height: 125px;
}

.logo {
  max-width: 416px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoImg {
  height: 120px;
  width: 140px;
}

.logotype {
  color: white;
  padding-left: 25px;
  font-size: 35px;
  text-decoration: none;

  transition: 0.3s;
}

.logotype:hover {
  color: #7045cd;
  cursor: pointer;
  font-size: 37px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 100%;
}

.menu-text {
  text-decoration: none;
  color: white;
  font-size: 17px;
  text-transform: uppercase;

  transition: 0.3s;
}

.menu-text {
  cursor: pointer;
}

.menu-text:hover {
  color: #7045cd;
  font-size: 19px;
}

.menu-bars {
  display: none;
  width: 70px;
  height: 60px;
}

.menu-bars:hover {
  cursor: pointer;
  filter: opacity(0.4);
}

@media all and (max-width: 991px) {
  header .logo {
    width: 230px;
    margin-left: 15px;
  }

  .banner-info-box {
    margin-right: 230px;
  }

  .info-title {
    color: white;
  }

  /* navbar */
  header .menu {
    position: fixed;
    /* referência viewport */
    top: 0px;
    /* coordenadas de posicinoamento */
    left: -80%;
    z-index: 100; /* controle de camada */

    opacity: 0; /* invisível  */
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    width: 70%;
    height: 100%;

    padding: 20px 50px;
    background-image: linear-gradient(to bottom, black, #310c7e);
    border-radius: 0 0 190px;
    transition: left 0.4s, opacity 0.5s;
  }

  header .menu a {
    margin-bottom: 20px;
    padding: 20px;
    border-left: 3px dotted #aab0ae;
    font-size: 1.4rem;
    color: #aab0ae;
  }

  header .menu-bars {
    display: block;
    width: 60px;
    margin-right: 15px;
    color: white;
  }

  .mostraEscondeMenu {
    left: 0 !important;
    opacity: 1 !important; /* visível */
  }
}

@media all and (max-width: 767px) {
  .header-flex {
    height: 125px;
  }

  header .menu-bars {
    width: 45px;
  }

  header .logo {
    width: 80px;
  }

  .logoImg {
    width: 80px;
    height: 80px;
  }

  header .logotype {
    font-size: 25px;
  }
  header .menu a {
    margin-bottom: 10px;
    padding: 10px;
    border-left: 2px dotted #aab0ae;
    font-size: 1rem;
  }
}
